

.header{
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}

#navbar{
  list-style-type: none;
}

.fstnav{
  display: inline-block;
}

.fstnav a{
  color: black;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}
