

.header{
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}

.header h3{
  color: MediumAquamarine;
  padding-left: 10px;
}

nav {
}

#navbar{
  list-style-type: none;
}

.fstnav{
  display: inline-block;
  justify-content: flex-end;
}

.fstnav a{
  color: black;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}
