
/*This is the main header, alot of the code is put in here, it defines the navigation bar in this case.
Not sure why we put in a flex property in both. But I believe its becuase we actually have two parent "divs" below. One
in the header and one in the .headerL*/

body{
  margin: 0;
  display: block;

}

header{
 display: flex;
 border-bottom: 1px solid black;
 position: fixed;
 width: 100%;
 /* need to add this later.
 height: 80%;
 */
 z-index: 1;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
}

.headerL{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.headerL span{
  color: MediumAquamarine;
  padding-left: 15px;
}

nav{
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: black;
}

div {
  display: block;
  border: 1px solid black;
}

.maincontainer{
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

/*this is the parent of the items large, medium, small*/
.column{
  display: flex;
  flex-direction: column; /*creating a news site, need columns*/
  margin-right: 32px;
}


.column.large {
  width: 630px;
}

.picmain{
  background-image: url("../images/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.picsone{
  background-image: url("../images/img-story-2.png");
}

.pictwo{
  background-image: url("../images/img-story-3.png");
}

.imgcontent{
  height: 300px;
  margin-top: 15px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: White;
  text-align: center;
}



.column.medium{
  width: 300px;
}

.column.small {
  width: 240px;
}
